[submodule "External/SDL"]
	path = External/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.30.x
[submodule "External/Assimp"]
	path = External/Assimp
	url = git@github.com:assimp/assimp.git
[submodule "External/vma"]
	path = External/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "External/meshoptimizer"]
	path = External/meshoptimizer
	url = git@github.com:zeux/meshoptimizer.git
	branch = master
[submodule "External/SPIRV-Cross"]
	path = External/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
	branch = vulkan-sdk-1.4.304
[submodule "External/ImGuiFileDialog"]
	path = External/ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog.git
[submodule "External/tracy"]
	path = External/tracy
	url = git@github.com:wolfpld/tracy.git
[submodule "External/ImGuizmo"]
	path = External/ImGuizmo
	url = https://github.com/TT9701/ImGuizmo.git
	branch = master
